header {
	background-color: blue;
	margin: 0;
	height: 40px;
}

body{
	width: 960px;
   overflow:auto;
}
.toot{
	background: yellow;
	clear: both;

}
#xo {
	float: left;
	font-size: 30px;
	color:  white;
	background-color: green

	
}
#xy {
	float: right;
	font-size: 20px;
}
p {
	width: 200px;
	background: red;



}
